{
    "env": {
        "browser": true,
        "node":    true
    },
    "extends": "eslint:recommended",
    "globals": {
        "com":              true,
        "content":          true,
        "ContentHierarchy": true,
        "ContentManager":   true,
        "currentSection":   true,
        "dbStatement":      true,
        "importClass":      true,
        "importPackage":    true,
        "isPreview":        true,
        "java":             true,
        "language":         true,
        "MediaManager":     true,
        "MediaUtils":       true,
        "MessageDigest":    true,
        "PathBuilder":      true,
        "publishCache":     true,
        "section":          true,
        "T4Utils":          true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "indent":          ["warn", 4],
        "linebreak-style": ["warn", "unix"],
        "quotes":          ["warn", "single"],
        "semi":            ["warn", "always"],
        "valid-jsdoc":     ["error", {
            "prefer": {
                "return": "return"
            }
        }]
    }
}
